<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlw0ZXxQkg5Le3d2x2oT4vxuyIc0LoBQw</string>
	<key>GCM_SENDER_ID</key>
	<string>400955802400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>news.ParrasDev</string>
	<key>PROJECT_ID</key>
	<string>parras-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>parras-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400955802400:ios:579b018a67509cfe098d45</string>
</dict>
</plist>